{% extends 'base.html.twig' %}

{% block title %}Autor{% endblock %}

{% block body %}
    <h1>Autor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Autor_id</th>
                <td>{{ autor.autorId }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ autor.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ autor.apellido }}</td>
            </tr>
            <tr>
                <th>Fecha_nacimiento</th>
                <td>{{ autor.fechaNacimiento ? autor.fechaNacimiento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_autor_index') }}">back to list</a>

    <a href="{{ path('app_autor_edit', {'autor_id': autor.autor_id}) }}">edit</a>

    {{ include('autor/_delete_form.html.twig') }}
{% endblock %}
